---
import './language-selector.css'

interface Props {
    value: string,
    tabindex?: number 
}

const { value, tabindex } = Astro.props;
---

<span class="language-selector" aria-valuetext={value} tabindex={tabindex?.toString()}>
	<input type="text" list="languages" value={value}>
	<datalist id="languages">
		<option value="en" />
	</datalist>
</span>