.die {
    width: var(--dice-size);
    height: var(--dice-size);
    font-family: monospace;
    white-space: nowrap;

    display: inline-block;
    position: relative;
    overflow: hidden;

    background-color: var(--dice-color-background);
    border: 1px solid var(--dice-color-foreground);
    border-radius: calc(var(--dice-size) / 4);

    --dice-padding: calc(var(--dice-size) / 12);
    --dice-size: 1em;
    /* The dice are exempt from theme colors */
    --dice-color-foreground: black;
    --dice-color-background: white;
}

.die:focus{
    outline:none;
    background-color: var(--theme-background-focus);
}