---
import "./die.css";
import "./text-die.css";

interface Props {
    value: string,
    tabindex?: number 
}

const { value, tabindex } = Astro.props;
---

<span class="die" aria-valuetext={value} tabindex={tabindex?.toString()}>
    <span class="text">{value}</span>
</span>