span.die-input {
    display: inline-flex;
    border-color: var(--dice-color-foreground);
    border-width: 1px;
    margin: -1ex;
    padding: 1px 0 0 1px;
    border-radius: calc(var(--dice-size) / 4);
    position: relative;
    background: none;
    font-size: inherit;
}

span.die-input[data-keyboard-visible="true"] > .die {
    --dice-color-foreground: var(--theme-foreground-hover);
}

span.die-input input::-moz-selection,
span.die-input input::selection {
    color: transparent;
    background:  var(--dice-color-background);
}

.die-input:not([data-disabled="true"]) input[type="number"]:active,
.die-input input[type="number"]:focus,
.die-input input[type="number"]:focus-visible,
.die-input:not([data-disabled="true"]) input[type="number"]:hover,
.die-input[data-keyboard-visible="true"] input[type="number"] {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}   

.die-radio-button input:focus,
.die-radio-button input:focus-visible,
.die-radio-button input:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid;
    border-width: 2px;
}   
.die-radio-button input:active {
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid;
    border-width: 2px;
    border-color: var(--theme-foreground-hover) !important;
}   

.die-input .die {
    padding: 0;
    margin: 1px;
    position: relative;
    z-index: 1;
}
.die-input input[type="number"]::-webkit-outer-spin-button,
.die-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.die-input input[type="number"] {
    -moz-appearance: none;
    appearance: none;
        
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 2;
    color: transparent;
    border: none;
    border: 0px none;
    border-radius: calc(var(--dice-size));
}

.die-input[data-disabled="true"] {
    opacity: .5;
}