.die-radio-button.die-aces{
    grid-area: aces;
}
.die-radio-button.die-deuces{
    grid-area: deuces;
}
.die-radio-button.die-threes{
    grid-area: threes;
}
.die-radio-button.die-fours{
    grid-area: fours;
}
.die-radio-button.die-fives{
    grid-area: fives;
}
.die-radio-button.die-sixes{
    grid-area: sixes;
}

.die-radio-button{
    position: relative;
}

.die-radio-button .die{
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(var(--dice-size) + 0px);
    height: calc(var(--dice-size) + 0px);
    font-size: 12ex;
}
.die-radio-button input{
    appearance: none;
    position: absolute;
    font-size: 12ex;
    width: calc(var(--dice-size) - (var(--dice-padding) * 1.5));
    height: calc(var(--dice-size) - (var(--dice-padding) * 1.5));
    border: none;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: calc(var(--dice-size) / 6);
    z-index: 1;
}

.die-radio-button input:focus,
.die-radio-button input:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline-style: solid;
    outline-color: var(--theme-foreground-hover) !important;
    border-color: transparent;
}   
.die-radio-button input:active,
.die-radio-button input:checked {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid;
    border-width: 2px;
    outline-color: transparent;
    
    border-style: solid;
    border-color: var(--theme-foreground-hover);
}   
.die-radio-button[data-checked="true"] .die {
    --dice-color-foreground: var(--theme-foreground-hover);
}   