button.die-button {
    font-size: inherit;
    display: inline-flex;
    border-color: var(--dice-color-foreground);
    border-width: 0;
    border-radius: calc(var(--dice-size) / 4);
    width: calc((var(--dice-size) - var(--dice-padding)) - 2px);
    height: calc((var(--dice-size) - var(--dice-padding)) - 2px);
    margin: .4ex;
    padding: 0;
    position: relative;
    background: none;
    border-width: 1px;
}
button.die-button:not(:disabled):focus,
button.die-button:not(:disabled):focus-visible,
button.die-button:not(:disabled):hover {
    outline:0;
    border-width: 2px;
    background: none;
    border-color: var(--theme-foreground-hover);
}   
button.die-button:not(:disabled):active {
    outline:0;
    border-width: 2px !important;
    background: none;
    font-weight: bold;
    color: var(--theme-foreground-hover) !important;
    --dice-color-foreground: var(--theme-foreground-hover) !important;
}     

button.die-button:disabled {
    outline:0;
    border-width: 1px !important;
    background: none;
}     

button.die-button .die {
    outline:0;
    border-width: 0;
    display: inline-block;
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
}
button.die-button img {
    outline:0;
    border-width: 0;
    display: inline-block;
    position: absolute;
    padding: 0;
    left: calc((var(--dice-padding)) - 2px);
    top: calc((var(--dice-padding)));
    width: calc((var(--dice-size)) - 2px);
    height: calc((var(--dice-size)) - 2px);
}