.theme-selector {
    margin-top: .8ex;
    width: 2.7ex;
    height: 2.7ex;
    display: inline-block;
    position: relative;
}

.theme-icon {
    font-size: 3ex;
    padding: 1px;
    
    position: relative;
    z-index: 9;
    user-select: none;
    pointer-events: none;
    touch-action: none;
}
.theme-icon > span svg {
    display: flex;
    position: absolute;
    margin: var(--dice-padding);
}
.theme-icon > span[aria-hidden="true"]{
    display: none;
}

.theme-selector select {
    color: transparent;
    position: absolute;
    display: block;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1ex solid transparent;
    background-color: transparent;
    border-radius: calc(var(--dice-size) / 1.5);
    z-index: 10;
}
.theme-selector select option {
    color: var(--theme-foreground-primary);
}