[data-theme="light"] {
    color-scheme: light;
    --theme-foreground-primary: rgb(48, 48, 48);
    --theme-foreground-secondary: rgb(48, 48, 48);
    --theme-foreground-hint: rgb(109, 109, 109);
    --theme-foreground-hover: rgb(176, 0, 117);
    --theme-background-header: rgb(48, 48, 48);
    --theme-background-primary: rgb(244, 244, 244);
    --theme-background-secondary: rgb(208, 208, 208);
    --theme-background-focus: rgb(255, 153, 0);
}

[data-theme="dark"] {
    color-scheme: dark;
    --theme-foreground-primary: white;
    --theme-foreground-secondary: rgb(208, 208, 208);
    --theme-foreground-hint: rgb(117, 117, 117);
    --theme-foreground-hover: rgb(176, 0, 117);
    --theme-background-header: rgb(34 34 34);
    --theme-background-primary: rgb(74 74 74);
    --theme-background-secondary: rgb(115, 115, 115);
    --theme-background-focus: rgb(255, 153, 0);
}

[data-theme="auto"]  {
    color-scheme: light;
    --theme-foreground-primary: rgb(48, 48, 48);
    --theme-foreground-secondary: rgb(48, 48, 48);
    --theme-foreground-hint: rgb(109, 109, 109);
    --theme-foreground-hover: rgb(176, 0, 117);
    --theme-background-header: rgb(48, 48, 48);
    --theme-background-primary: rgb(244, 244, 244);
    --theme-background-secondary: rgb(208, 208, 208);
    --theme-background-focus: rgb(255, 153, 0);
}

@media (prefers-color-scheme:dark) {
    [data-theme="auto"]  {
        color-scheme: dark;
        --theme-foreground-primary: white;
        --theme-foreground-secondary: rgb(208, 208, 208);
        --theme-foreground-hint: rgb(158, 158, 158);
        --theme-foreground-hover: rgb(176, 0, 117);
        --theme-background-header: rgb(34 34 34);
        --theme-background-primary: rgb(74 74 74);
        --theme-background-secondary: rgb(115, 115, 115);
        --theme-background-focus: rgb(255, 153, 0);
    }
}

:root{
    color: var(--theme-foreground-primary);
}

select option {
    display: block;
    background-color: var(--theme-background-primary);
}
select option:checked {
    background-color: var(--theme-background-primary) !important;
}
select option:hover,
select option:focus,
select option:active {
    outline-color: var(--theme-background-focus);
    background-color: var(--theme-background-focus)  !important;
}