---
import "./theme.css";
import "./content.css";

import MainLayout from "./main.astro";
import Footer from "./footer.astro";

interface Props {
    title: string
}

const { title } = Astro.props
---

<MainLayout title={title}>
	<a id="top" tabindex={-1}/>
	<section role="main"><slot /></section>
	<Footer />
</MainLayout>