header {
    font-size: 3ex;
    margin: 0;
    position: sticky;
    left: 0;
    z-index: 9;
    right: 0;
    width: 100%;
    background-color: var(--theme-background-header);
    top: 0;
    padding: 0;
    margin-bottom: 1.5ex;
}
@media only screen and (min-height: 900px) {
    header{
        top: 1.3ex!important;
        margin-bottom: 3ex;
    }
}
@media only screen and (min-height: 630px) {
    header::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: -1.5ex;
        right: 0;
        bottom: 1.5ex;
        height: 1.5ex;
        width: 100%;
        background-color: var(--theme-background-primary);
    }
}
header::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2ex;
    z-index: -1;
    height: 2ex;
    width: 100%;
    overflow: hidden;
    background: var(--theme-background-primary);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--theme-background-primary) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--theme-background-primary) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, var(--theme-background-primary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

header h1 {
    margin: .5ex 1ex .5ex 1ex ;
    padding: 0;
    font-size: 3ex; 
    height: 2ex;
}
header .header-contents {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-right: .5ex;
    max-width: calc(800px + 2ex);
}

header h1 a, header h1 a::selection, header h1 a:hover {
    text-decoration: none;
    display: inline-block;
    height: calc(2ex - 4px);
    margin: calc(-.5ex + 2px) 2px;
    padding:.5ex;
}

header nav {
    margin: 0 1ex .5ex 0 ;
    /*  todo style nav */
    justify-self: flex-end;
    height: 3ex;
    width: 6ex;
    /* overflow: hidden; */
}

header nav ul {
    list-style: outside none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
}
header nav ul li {
    margin: 0;
    padding: 0;
}
section[role="main"] {
    margin: 1ex auto 0 auto;
    font-size: 1.5ex;
    max-width: 800px;
    padding: 0 2ex 0 2ex;
}