@import "@fontsource/roboto";
@import "@fontsource/fasthand";

:root {    
    font-size: 1em;
    background-color: var(--theme-background-primary);
}

@media (prefers-reduced-motion: no-preference) {
    :root, html, body {
        scroll-behavior: smooth;
        scroll-behavior: smooth contain;
    }
}
::-moz-selection { 
    color: var(--theme-foreground-primary);
    background:  var(--theme-background-focus);
}

::selection {
    color: var(--theme-foreground-primary);
    background:  var(--theme-background-focus);
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

html, body {
    margin:0;
    padding: 0;
    position: relative;
    height: 100%;
    background-color: var(--theme-background-primary) !important;
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}
html {
    overflow: hidden;
}
body {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: smooth contain;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "roboto";
    background-color: var(--theme-background-primary) !important;
}
h1 {
    font-size: 5ex;
}
h2 {
    font-size: 3ex;
}

button, a {
    cursor: pointer;
}

table { 
    border-collapse: collapse; 
}