:root {
    --theme-foreground-primary: black;
    --theme-background-primary: rgb(244, 244, 244);
    --theme-background-focus: rgb(135, 214, 135);
    
    font-size: 1.5em;
    background-color: var(--theme-background-primary);
}

::-moz-selection { 
    color: var(--theme-foreground-primary);
    background:  var(--theme-background-focus);
}

::selection {
    color: var(--theme-foreground-primary);
    background:  var(--theme-background-focus);
}

html, body {
    margin:0;
    padding: 0;
    position: relative;
    background-color: var(--theme-background-primary);
}
h1 {
    font-size: 5ex;
}
h2 {
    font-size: 3ex;
}