dialog:not([open]) {
    display: none;
    overflow: hidden;
}
dialog {
    margin: auto;
    padding: 0;
    background-color: var(--theme-background-secondary);
}

dialog div.dialog-content > * {
    pointer-events: all;
}
dialog::backdrop {
    background-color: rgba(0,0,0,.5);
    z-index: 8;
}
dialog[data-show-backdrop="false"]::backdrop {
    background-color: rgba(0,0,0,0);
}

dialog[data-modal="false"]::backdrop {
    display: none;
}

.click-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0);
}