#score-card {
    
    display: block;
    width: calc(100% - 2ex);
    padding: 1ex;
}
#score-card article {
    
    display: block;
    width: 100%;
}

#score-card table {
    
    width: 100%;
    border-spacing: 0;
    border: 2px solid var(--theme-foreground-primary);
}

#score-card table td {
    text-align: right;
    padding: .5ex;
    border: 1px solid var(--theme-foreground-primary);
}
#score-card table thead td {
    text-align: left;
}
#score-card table td:first-child {
    font-weight: bold;
    text-align: left;
}