#score-card {
    display: block;
    width: calc(100% - 2ex);
    padding: 0 1ex 1ex 1ex;
}
#score-card aside {
    display: none;
    font-size: 2.8ex;
    margin: -.5ex 0 1.5ex .0;
    padding: 0 0 .5ex 0;
}
#score-card aside span {
    display: inline-block;
    font-size: 2.8ex;
    margin:0;
    padding: 0;
}
#score-card aside .name {
    display: inline-block;
    width: calc(100% - 4.7ex);
    margin-top: .7ex;
    margin-bottom: -.7ex;
    border-bottom: 1px solid var(--theme-foreground-primary);
}
#score-card aside .round-label {
    position: absolute;
    left: 0;
    right: 0;
    bottom:.5ex;
    font-size: .8ex;
    text-transform: uppercase;
}
#score-card aside .round-number {
    text-align: center;
    float: right;
    width: 3.5ex;
    height: 3.5ex;
    position: relative;
    background-color: var(--theme-background-secondary);
}
#score-card article {
    
    display: block;
    width: 100%;
    margin-bottom: 2.5ex;
}
#score-card article:last-child {
    
    margin-bottom: .2ex;
}

#score-card table {
    
    width: 100%;
    border-spacing: 0;
    border: 2px solid var(--theme-foreground-primary);
}

:root{
    --score-card-row-height: 2.5ex;
    --score-card-column-roll-width: 14ex;
    --score-card-column-score-width:  5ex;
    --score-card-column-padding:  .5ex;
    --score-card-column-padding-right:  1ex;
}

#score-card table td {
    position: relative;
    text-align: right;
    padding: 0;
    height: var( --score-card-row-height);
    border: 1px solid var(--theme-foreground-primary);
}
#score-card table thead td {
    font-weight: bold !important;
    text-align: left;
    text-transform: uppercase;
    padding-right: 1ex;
    padding-left: 1ex;
    padding: .5ex;
}
#score-card table td.label-column {
    text-align: left;
}
#score-card table tbody td.roll-column {
    width: var( --score-card-column-roll-width);
}
#score-card table td.score-column {
    width: var( --score-card-column-score-width);
}
#score-card table td.totals-column {
    width: calc(14ex + 5ex + 1.5ex);
}
#score-card table td.label-column .die {
    font-weight: normal !important;
    font-size: 2.8ex;
    margin-bottom: -.5ex;
    margin-right: .5ex;
    --dice-padding: .2ex !important;
}

@media only screen and (min-height: 750px) {
    #score-card aside {
        display: block;
    }
    #score-card article {
        margin-bottom: 3ex;
    }
}