section.selector-buttons {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.selector-buttons .row-selector {
    pointer-events: all;
    position: absolute;
    border: 1px solid var(--theme-foreground-primary);
    border-top: none;
    border-bottom: none;
    background: none;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.selector-buttons .row-selector.selected::after {
    opacity: 1;
}
.selector-buttons .row-selector::after {
    position: absolute;
    display: block;
    content: '';
    border: 0px;
    background: none;
    border-left: .5ex solid;
    top:1px;
    bottom: 1px;
    left: calc(-1 * (.5ex + 2px)) ;
    z-index: 2;
    opacity: .3;
}
.selector-buttons .row-selector:not(.discard)::after {
    border-color: var(--theme-foreground-hover);
}
.selector-buttons .row-selector.discard::after {
    border-color: silver;
}
.selector-buttons .row-selector > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    display: block;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.selector-buttons .row-selector > span.score-display {
    border-left: 1px solid black;
}
.selector-buttons .row-selector > span > span {
    opacity: .4;
}
.selector-buttons .row-selector.selected > span > span,
.selector-buttons .row-selector:active > span > span,
.selector-buttons .row-selector:focus > span > span,
.selector-buttons .row-selector:hover > span > span {
    opacity: .9;
}

.selector-buttons label.row-selector input {
    outline: none;
}

.selector-buttons label.row-selector:focus,
.selector-buttons label.row-selector:hover {
    outline: 2px solid ;
    outline-color: var(--theme-background-focus);
    z-index: 99;
}
.selector-buttons label.row-selector.selected,
.selector-buttons .row-selector:active {
    outline: 2px solid;
    outline-color: var(--theme-foreground-hover);
    z-index: 99;
}
.selector-buttons label.row-selector.discard:hover,
.selector-buttons .row-selector.discard:focus {
    outline-color: gray !important;
}
.selector-buttons label.row-selector.discard.selected,
.selector-buttons .row-selector.discard:active {
    outline-color: silver !important;
}
.selector-buttons .row-selector.selected::after,
.selector-buttons .row-selector:active::after {
    top: -1px;
    bottom: -1px;
}