section.selector-buttons {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.selector-buttons .row-selector {
    pointer-events: all;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: var(--theme-foreground-primary);
    border-top: none;
    border-bottom: none;
    background: none;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.selector-buttons .row-selector.selected::after {
    opacity: 1;
}
.selector-buttons .row-selector::after {
    position: absolute;
    display: block;
    content: '';
    border: 0px;
    background: none;
    border-left: .5ex solid;
    top:1px;
    bottom: 1px;
    left: calc(-1 * (.5ex + 1px)) ;
    z-index: 2;
    opacity: .3;
}
.selector-buttons .row-selector:not(.discard)::after {
    border-color: var(--theme-foreground-hover);
}
.selector-buttons .row-selector.discard::after {
    border-color: silver;
}
.selector-buttons .row-selector > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    display: block;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.selector-buttons .row-selector > span.score-display {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--theme-foreground-primary);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--theme-foreground-primary);
}
.selector-buttons .row-selector > span.roll-display {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--theme-foreground-primary);
}
.selector-buttons .row-selector > span > span {
    opacity: .4;
}
.selector-buttons .row-selector.selected > span > span,
.selector-buttons .row-selector:active > span > span,
.selector-buttons .row-selector:focus > span > span,
.selector-buttons .row-selector:hover > span > span {
    opacity: .9;
    z-index: 99;
}

.selector-buttons label.row-selector input {
    outline: none;
}

.selector-buttons label.row-selector:not(.fake) {
    
    z-index: 90;
}
.selector-buttons label.row-selector:not(.fake):focus,
.selector-buttons label.row-selector:not(.fake):hover {
    outline: 2px solid ;
    outline-color: var(--theme-background-focus);
    z-index: 99;
}
.selector-buttons label.row-selector:not(.fake).selected,
.selector-buttons .row-selector:not(.fake):active {
    outline: 2px solid;
    outline-color: var(--theme-foreground-hover);
    z-index: 999;
}
.selector-buttons label.row-selector.discard:not(.fake):hover,
.selector-buttons .row-selector.discard:not(.fake):focus {
    outline-color: gray !important;
}
.selector-buttons label.row-selector.discard:not(.fake).selected,
.selector-buttons .row-selector.discard:not(.fake):active {
    outline-color: silver !important;
}
.selector-buttons .row-selector.selected:not(.fake)::after,
.selector-buttons .row-selector:active:not(.fake)::after {
    top: -2px;
    bottom: -2px;
    border-radius: 2px;
    z-index: 999;
}
.selector-buttons .row-selector.selected:not(.fake)::before,
.selector-buttons .row-selector:active:not(.fake)::before {
    border-width: 1px;
    border-style: solid;
    border-color: var(--theme-foreground-primary); position: absolute;
    display: block;
    content: '';
    background: none;
    z-index: 99;
    box-shadow: inset;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 
      0 0 0 .5px var(--theme-foreground-primary) inset,
      0 0 0 1px var(--theme-background-primary) inset;
}