.score-input .selector {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.score-input .selector button {
    display: block;
    font-size: 8ex;
    background-color: transparent !important;
    border: 0px none;
    margin:0;
    padding:0;
    overflow: visible;
}
.score-input .selector button .die {
    display: block;
}
.score-input .selector button[data-selected="true"] .die {
    border-color: gold;
    border-width: 3px;
}
.score-input .dice[data-selected="true"] .die {
    border-color: gold;
    border-width: 3px;
}
.score-input .dice[data-focussed="true"] .die {
    border-color: darkorange;
}


.score-input .selector.selector-0 {
    grid-area: a;
}
.score-input .selector.selector-1 {
    grid-area: b;
}
.score-input .selector.selector-2 {
    grid-area: c;
}
.score-input .selector.selector-3 {
    grid-area: d;
}
.score-input .selector.selector-4 {
    grid-area: e;
}

.score-input .dice-value {
    background-color: var(--theme-background-secondary);
    border: 0px none;
    display: grid;
    grid-area: value;
    width: fit-content;
    gap: 1ex;
    grid-template-columns: 10ex 10ex 10ex;
    grid-template-rows: 10ex 10ex;
    grid-template-areas: 
        "aces deuces threes"
        "fours fives sixes";
    overflow: visible;
    margin: 0 auto 2ex auto;
    padding: 1ex;
}

.score-input .dice .die-aces{
    grid-area: aces;
}
.score-input .dice .die-deuces{
    grid-area: deuces;
}
.score-input .dice .die-threes{
    grid-area: threes;
}
.score-input .dice .die-fours{
    grid-area: fours;
}
.score-input .dice .die-fives{
    grid-area: fives;
}
.score-input .dice .die-sixes{
    grid-area: sixes;
}
.score-input .dice{
    display: flex;
    position: relative;
}
.score-input .dice .die{
    position: absolute;
    z-index: 2;
    font-size: 8ex;
    top: 50%;
    left: 50%;
    margin-top: -1ex;
    margin-left: -1ex;
}
.score-input .dice input{
    position: absolute;
    display: block;
    z-index: 1;
    left: 25%;
    top: 25%;
}

.score-input .dice-value[aria-hidden="true"] {
    display: none;
}
.score-input .dice-value:not([open]) {
    display: none;
}