section.selector-backdrop,
section.selector-backdrop svg {
    pointer-events: none;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
section.selector-backdrop svg {
    z-index: 1;
}

.selector-backdrop .main-screen {
    display: block;
    fill: rgba(0,0,0,.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.selector-backdrop .row-selector {
    pointer-events: all;
    position: absolute;
    border: 0px;
    background: none;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.selector-backdrop .row-selector:not(:disabled)::after {
    position: absolute;
    display: block;
    content: '';
    border: 0px;
    background: none;
    border-left: .5ex solid;
    top:1px;
    bottom: 1px;
    left: calc(-1 * (.5ex + 1px)) ;
    z-index: 2;
}
.selector-backdrop .row-selector:not(:disabled):not(.discard)::after {
    border-color: var(--theme-foreground-hover);
}
.selector-backdrop .row-selector:not(:disabled).discard::after {
    border-color: silver;
}
.selector-backdrop .row-selector:disabled {
    position: absolute;
    opacity: 0;
}
.selector-backdrop .row-selector:not(:disabled) > span.score-display {
    border-left: 1px solid black;
}
.selector-backdrop .row-selector:not(:disabled) > span > span {
    opacity: .4;
}
.selector-backdrop .row-selector:not(:disabled):active > span > span,
.selector-backdrop .row-selector:not(:disabled):focus > span > span,
.selector-backdrop .row-selector:not(:disabled):hover > span > span {
    opacity: .9;
}