---
import ContentLayout from '../layouts/content.astro';
import Filler from '../components/content/lorem-ipsum.md';
---

<ContentLayout title="Home Page">
  <h2>Accessibility</h2>
  <p>
    This is currently still in contruction.<br/>
    However, we do want to make this app accessible. <br/>
    If you'd like to help playtest, please let us know on <a href="https://github.com/Marvin-Brouwer/five-dice/issues">GitHub</a>.
  </p>
</ContentLayout>