---
import ContentLayout from '../layouts/content.astro';
---

<ContentLayout title="Home Page">
  <h2>Accessibility statement</h2>
  <p>
    This is currently still in contruction.<br/>
    However, we do want to make this app accessible. <br/>
    If you'd like to help playtest, please let us know on 
    <a href="https://github.com/Marvin-Brouwer/five-dice/issues" target="_blank">GitHub</a>.
  </p>
  <p>
    We started writing a statement on <a href="https://www.accessibilitystatementgenerator.com/">accessibilitystatementgenerator.com</a>
    but the site was down. We'll try again later. <br />
    If you have additional suggestions, please comment on issue
    <a href="https://github.com/Marvin-Brouwer/five-dice/issues/54">Finalize accessibility statement <span class="pre">#54</span></a>.
  </p>
</ContentLayout>