---
import ContentLayout from '../layouts/content.astro';
import Filler from '../components/content/lorem-ipsum.md';
---

<ContentLayout title="Home Page">
  <p>TODO: This is where the game instructions are shown</p>
  <Filler />
</ContentLayout>