---
import ContentLayout from '../layouts/content.astro';
import Filler from '../components/content/lorem-ipsum.md';
---

<ContentLayout title="Home Page">
  <h2>About the game</h2>
  <p>TODO: Explain what the game is about</p>
  <h2>Instructions</h2>
  <p>TODO: This is where the game instructions are shown</p>
  <Filler />
</ContentLayout>